<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dormsadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DORMS">
        <activity android:name=".view_breakfast"></activity>
        <activity android:name=".view_roomdetails" />
        <activity android:name=".view_room" />
        <activity android:name=".view_student" />
        <activity android:name=".add_student" />
        <activity android:name=".add_dinner" />
        <activity android:name=".add_lunch" />
        <activity android:name=".view_menu" />
        <activity android:name=".add_breakfast" />
        <activity android:name=".dinner" />
        <activity android:name=".lunch" />
        <activity android:name=".breakfast" />
        <activity android:name=".queries" />
        <activity android:name=".forgot_password" />
        <activity android:name=".food_menu" />
        <activity android:name=".mess_menu" />
        <activity android:name=".fees" />
        <activity android:name=".profile" />
        <activity android:name=".Room_details" />
        <activity android:name=".StudentDetailsActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".Home" />
        <activity android:name=".Login_dorms" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>